* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.margin {
  margin-bottom: 40px;
}

.relative {
  position: relative;
}

.left {
  float: left;
}

header {
  background-color: #2b2b90;
}

.list1 {
  margin-left: 60px;
  width: 40%;
  float: left;
}

.list2 {
  position: absolute;
  text-align: right;
  width: 50%;
  right: 0;
}

li {
  display:inline;
  list-style: none;
}

.list1_item {
  margin-right: 2%;
}

a {
  display: inline-block;
  color: white;
  text-decoration: none;
}

.menu {
  height: 40px;
  vertical-align: middle;
  line-height: 40px;
}

header li a:hover {
  color: darkorange;
}

#login {
  border: 1px solid white;
}

.button {
  border-radius: 15px;
  color: white;
}

.small {
  margin-left: 2%;
  font-size: 10px;
  padding: 10px 15px;
}

.big  {
  font-size: 15px;
  padding: 20px 30px;
}

.button a {
  text-align: center;
}

.green {
  border-radius: 15px;
  background-color: darkgreen;
}

.banner {
  height: 500px
}

.img {
  width: 65%;
  position: absolute;
  bottom: 0;
  right: 0;
}

#banner {
  width: 100%;
  object-fit: cover;
}

.banner_text {
  width: 500px;
  font-size: 25px;
  line-height: 500px;
  z-index: 2;
  color: white;
}

.banner_text h1 {
  line-height: normal;
  vertical-align: middle;
  display: inline-block;
}

#button_banner {
  position: absolute;
  bottom: 16vh;
  left: 10vw;
  z-index: 5;
}

div #button_banner a:hover {
  color: darkorange;
}

#main_head {
  background-color: lightgrey;
  height: 150px;
  padding: 40px 0;
  margin-bottom: 40px;
}

#green_title {
  font-size: 27px;
  color: forestgreen;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.text {
  font-size: 17px;
}

.grey {
  color: dimgray;
}

.col {
  float: left;
  width: 33%;
  padding: 10px 20px;
}

.col_img {
  overflow: hidden;
}

.col_img img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.col_text {
  margin-top: 20px;
  text-align: center;
}

#special {
  margin: 20px auto;
  width: 50%;
}

hr {
  width: 100%
}


.col_big {
  float: left;
  width: 50%;
  padding: 10px 40px;
}

#big {
  height: 400px;
}

.col_text h1 {
  text-align: left;
  font-size: 37px;
  margin-bottom: 20px;
}

.col_text p {
  margin-bottom: 20px;
}

.col_text a {
  color: #0000EE;
  text-decoration: underline;
}
